positive_channel:
  n_channel : 3


negative_channel:
  n_channel : 3

MPC_parameters:
  NP : 5
  Ts : 0.01
  Q_values : 10
  R_values : 1
  kp_micro : 1
  kp_macro : 1
  kp_atm : 1
  n_x : 1
  n_u : 3


pos_pid_gains:
  kp_micro : 1.0
  ki_micro : 2.0
  kd_micro : 3.0
  kp_macro : 4.0
  ki_macro : 5.0
  kd_macro : 6.0
  kp_atm : 7.0
  ki_atm : 8.0
  kd_atm : 9.0


neg_pid_gains:
  kp_micro : 1.0
  ki_micro : 2.0
  kd_micro : 3.0
  kp_macro : 4.0
  ki_macro : 5.0
  kd_macro : 6.0
  kp_atm : 7.0
  ki_atm : 8.0
  kd_atm : 9.0